In [1]:
from transformers import AutoTokenizer, XLMRobertaTokenizer
import json
import pandas as pd
import pandas_profiling as pp
import re
from bs4 import BeautifulSoup

In [2]:
tag_regex = re.compile('<.*?>')

def extract_contents(text):
    """Remove html tags from a string"""
    return re.sub(tag_regex, '', text)

def extract_tags(text):
    return tag_regex.findall(text)

In [3]:
use_fast_tokenizer = False
tokenizer_dir = "D:/dataset/table_ocr/pubtabnet/tokenizer"
result_file = "D:/dataset/table_ocr/pubtabnet/results.jsonl"
eda_output_path = "./baseline_epoch5_eda_total.html"
df_output_path = "./baseline_epoch5_df.pkl"

In [4]:
if use_fast_tokenizer:
    tokenizer = AutoTokenizer.from_pretrained(tokenizer_dir)
else:
    tokenizer = XLMRobertaTokenizer.from_pretrained(tokenizer_dir)

The tokenizer class you load from this checkpoint is not the same type as the class this function is called from. It may result in unexpected tokenization.
The tokenizer class you load from this checkpoint is 'MBartTokenizer'.
The class this function is called from is 'XLMRobertaTokenizer'.
Special tokens have been added in the vocabulary, make sure the associated word embeddings are fine-tuned or trained.

In [5]:
data_file = open(result_file, encoding="utf-8")

In [6]:
def parse_html(html):
    bs = BeautifulSoup(html, 'html.parser')
    trs = bs.find_all("tr")
    nums_row = len(trs)
    max_col = 0
    nums_cell = 0
    for tr in trs:
        tds = tr.find_all("td")
        nums_cell += len(tds)
        if max_col < len(tds):
            max_col = len(tds)
    nums_col = max_col

    td_rowspans = bs.select('td[rowspan]')
    tmp_max_row_span = 0
    sum_rows_span = 0
    for td_rowspan in td_rowspans:
        sum_rows_span += int(td_rowspan['rowspan'])
        if tmp_max_row_span < int(td_rowspan['rowspan']):
            tmp_max_row_span = int(td_rowspan['rowspan'])

    td_colspans = bs.select('td[colspan]')
    tmp_max_col_span = 0
    sum_cols_span = 0
    for td_colspan in td_colspans:
        sum_cols_span += int(td_colspan['colspan'])
        if tmp_max_col_span < int(td_colspan['colspan']):
            tmp_max_col_span = int(td_colspan['colspan'])
    return nums_row, nums_col, tmp_max_row_span, tmp_max_col_span, nums_cell, len(td_rowspans), len(td_colspans), sum_rows_span, sum_cols_span

In [7]:
items = []
for i, line in enumerate(data_file):
#     if i > 20:
#         break
    item = json.loads(line)
    item['num_tokens_gt'] = len(tokenizer.encode(item['gt']))
#     item['num_tokens_pred'] = len(tokenizer.encode(item['pred']))
    item['len_str_gt'] = len(item['gt'])
#     item['len_str_pred'] = len(item['pred'])
    
    gt_structure_list = extract_tags(item['gt'])
#     pred_structure_list = extract_tags(item['pred'])
    gt_content = extract_contents(item['gt'])
#     pred_content = extract_contents(item['pred'])
    
    item['num_tag_tokens_gt'] = len(gt_structure_list)
#     item['num_tag_tokens_pred'] = len(pred_structure_list)
    item['num_content_tokens_gt'] = len(tokenizer.encode(gt_content))
#     item['num_content_tokens_pred'] = len(tokenizer.encode(pred_content))
    
    gt_nums_row, gt_nums_col, gt_max_row_span, gt_max_col_span, gt_nums_cell, gt_nums_rowspantag, gt_nums_colspantag, gt_sum_rows_span, gt_sum_cols_span = parse_html(item['gt'])
#     pr_nums_row, pr_nums_col, pr_max_row_span, pr_max_col_span, pr_nums_cell, pr_nums_rowspantag, pr_nums_colspantag, pr_sum_rows_span, pr_sum_cols_span = parse_html(item['pred'])
    
    item['num_cols_gt'] = gt_nums_col
#     item['num_cols_pred'] = pr_nums_col
    item['num_rows_gt'] = gt_nums_row
#     item['num_rows_pred'] = pr_nums_row
    
    item['num_cells_gt'] = gt_nums_col * gt_nums_row
#     item['num_cells_pred'] = pr_nums_col * pr_nums_row
    item['num_cells_span_gt'] = gt_nums_cell
#     item['num_cells_span_pred'] = pr_nums_cell
    
    
    item['num_spans_gt'] = gt_nums_rowspantag + gt_nums_colspantag
    item['num_row_spans_gt'] = gt_nums_rowspantag
    item['num_col_spans_gt'] = gt_nums_colspantag
#     item['num_spans_pred'] = pr_nums_rowspantag + pr_nums_colspantag
#     item['num_row_spans_pred'] = pr_nums_rowspantag
#     item['num_col_spans_pred'] = pr_nums_colspantag
    
    item['sum_spans_gt'] = gt_sum_rows_span + gt_sum_cols_span
    item['sum_row_spans_gt'] = gt_sum_rows_span
    item['sum_col_spans_gt'] = gt_sum_cols_span
    item['max_spans_gt'] = max(gt_max_row_span, gt_max_col_span)
    item['max_row_spans_gt'] = gt_max_row_span
    item['max_col_spans_gt'] = gt_max_col_span
    
#     item['sum_spans_pred'] = pr_sum_rows_span + pr_sum_cols_span
#     item['sum_row_spans_pred'] = pr_sum_rows_span
#     item['sum_col_spans_pred'] = pr_sum_cols_span
#     item['max_spans_pred'] = max(pr_max_row_span, pr_max_col_span)
#     item['max_row_spans_pred'] = pr_max_row_span
#     item['max_col_spans_pred'] = pr_max_col_span
    
    item['has_span_gt'] = gt_max_row_span > 1 or gt_max_col_span > 1
    item['has_row_span_gt'] = gt_max_row_span > 1
    item['has_col_span_gt'] = gt_max_col_span > 1
#     item['has_span_pred'] = pr_max_row_span > 1 or pr_max_col_span > 1
#     item['has_row_span_pred'] = pr_max_row_span > 1
#     item['has_col_span_pred'] = pr_max_col_span > 1
            
    
    item['cell_width_gt'] = item['image_width'] / item['num_cols_gt']
    item['cell_height_gt'] = item['image_height'] / item['num_rows_gt']
    
    # 총 span 갯수
    # rowspan 갯수
    # colspan 갯수
    # span 칸 최대
    # rowspan 칸 최대
    # colspan 칸 최대
    # span 칸 합친것
    # rowspan 칸 합친것
    # colsapn 칸 합친것
    # has span
    
    # tag token count
    # content token count
    # cell width & height
    #
    
    # 셀갯수
        # row 갯수
        # col 갯수
        ## 태그
        # 컨텐츠
    items.append(item)
print(len(items))

9112

In [8]:
print(len(items))
df = pd.DataFrame.from_records(items)
df

9112

,file_name,gt,pred,teds_all,teds_struct,teds_content,image_width,image_height,num_tokens_gt,len_str_gt,...,sum_row_spans_gt,sum_col_spans_gt,max_spans_gt,max_row_spans_gt,max_col_spans_gt,has_span_gt,has_row_span_gt,has_col_span_gt,cell_width_gt,cell_height_gt
0,PMC2915972_003_00.png,"<table><tr><td rowspan=""2"">Reactive astroglioi...","<table><tr><td rowspan=""2"">Reactive astroglioi...",0.722161,0.740741,0.828959,238,287,650,1668,...,25,2,6,6,2,True,True,True,59.500000,22.076923
1,PMC2915972_003_00.png,<table><tr><td>Name of algorithm</td><td>Notab...,<table><tr><td>Name of algorithm</td><td>Notab...,1.000000,1.000000,1.000000,238,287,203,567,...,0,0,0,0,0,False,False,False,119.000000,47.833333
2,PMC2915972_003_00.png,<table><tr><td></td><td>HC (N = 20)</td><td>FA...,<table><tr><td></td><td>HC (N = 20)</td><td>FA...,1.000000,1.000000,1.000000,238,287,170,340,...,0,0,0,0,0,False,False,False,79.333333,57.400000
3,PMC2915972_003_00.png,<table><tr><td></td><td>No of patients</td></t...,"<table><tr><td></td><td colspan=""2"">No of pati...",0.709845,0.724138,0.993056,238,287,427,888,...,0,2,2,0,2,True,False,True,119.000000,12.478261
4,PMC5451934_004_00.png,<table><tr><td>miRNA</td><td>Change relative t...,<table><tr><td>miRNA</td><td>Change relative t...,1.000000,1.000000,1.000000,389,56,1130,2091,...,0,0,0,0,0,False,False,False,48.625000,3.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9107,PMC3195381_002_00.png,"<table><tr><td colspan=""2"">ASE subscales item ...",<table><tr><td></td><td>ASE subscales item num...,0.938990,0.966942,0.967817,500,629,1211,3628,...,0,4,2,0,2,True,False,True,250.000000,15.341463
9108,PMC4226882_007_00.png,"<table><tr><td></td><td colspan=""6"">After chro...","<table><tr><td></td><td colspan=""6"">After chro...",0.942212,0.952381,0.920000,238,105,335,698,...,0,12,6,0,6,True,False,True,34.000000,17.500000
9109,PMC4226882_007_00.png,<table><tr><td>Factor Name</td><td>Individual ...,<table><tr><td>Factor Name</td><td>Individual ...,0.925729,0.961538,0.871272,238,105,1364,3767,...,0,0,0,0,0,False,False,False,59.500000,4.038462
9110,PMC4226882_007_00.png,<table><tr><td>Tissue</td><td>RMH EC</td><td>R...,<table><tr><td>Tissue</td><td>RMH EC</td><td>R...,1.000000,1.000000,1.000000,238,105,167,318,...,0,0,0,0,0,False,False,False,47.600000,26.250000
9111,PMC4226882_007_00.png,<table><tr><td>GPs</td><td></td></tr><tr><td>I...,"<table><tr><td colspan=""2"">GPs</td></tr><tr><t...",0.777778,0.777778,1.000000,238,105,180,443,...,0,0,0,0,0,False,False,False,119.000000,17.500000

In [9]:
# profile = pp.ProfileReport(df)
# profile.to_file(eda_output_path)

In [10]:
# df.to_pickle(df_output_path)

In [11]:
key_dict = {
    'num_tokens_gt' : 10,
    'num_tag_tokens_gt' : 10,
    'num_content_tokens_gt' : 10,
    'num_spans_gt' : 10,
    'num_row_spans_gt' : 10,
    'num_col_spans_gt' : 10,
    'sum_spans_gt' : 10,
    'sum_row_spans_gt' : 10,
    'sum_col_spans_gt' : 10,
    'has_span_gt' : 2,
    'has_row_span_gt' : 2,
    'has_col_span_gt' : 2,
    'num_cells_gt' : 10,
    'num_cells_span_gt' : 10,
    'num_cols_gt' : 10,
    'num_rows_gt' : 10,
    'cell_width_gt' : 10,
    'cell_height_gt' : 10,
    'len_str_gt': 10
}

In [12]:
for key in key_dict:
    num_bins = key_dict[key]
    labels = pd.cut(df[key], num_bins, retbins=True)[1]
    df[key + '_class'] = pd.cut(df[key], num_bins, labels=labels[1:])
    gb = df.groupby(key + '_class')['teds_all']
    gbm = gb.mean()
    gbc = gb.count()
    print("")
    print(key)
    for v in list(zip(gbm.index.values, gbm, gbc)):
        print(v)

num_tokens_gt
(573.4, 0.9450900751773313, 4559)
(1082.8, 0.9216335341999353, 2697)
(1592.1999999999998, 0.8855480480416218, 1102)
(2101.6, 0.7870289315273937, 436)
(2611.0, 0.6222968155295836, 183)
(3120.3999999999996, 0.5211435273137541, 77)
(3629.7999999999997, 0.42382451994861425, 29)
(4139.2, 0.3439093099240552, 17)
(4648.599999999999, 0.3834080574607154, 10)
(5158.0, 0.25515168057413534, 2)

num_tag_tokens_gt
(152.2, 0.9346641664681362, 5213)
(294.4, 0.9184099161756044, 2421)
(436.59999999999997, 0.8751164686607688, 898)
(578.8, 0.7700014192138301, 337)
(721.0, 0.6738280964920469, 136)
(863.1999999999999, 0.5740515168144583, 62)
(1005.3999999999999, 0.5191878863648344, 27)
(1147.6, 0.3678145909547292, 11)
(1289.8, 0.45468830066143995, 4)
(1432.0, 0.4952012980534581, 3)

num_content_tokens_gt
(278.4, 0.942801998984034, 5670)
(540.8, 0.9176136323657867, 2270)
(803.1999999999999, 0.8187175788817241, 800)
(1065.6, 0.6175139411355821, 248)
(1328.0, 0.47038292857663216, 76)
(1590.3999999999999, 0.38003361486994697, 28)
(1852.7999999999997, 0.35783673994500087, 12)
(2115.2, 0.29539147687047873, 6)
(2377.6, nan, 0)
(2640.0, 0.2878729704895896, 2)

num_spans_gt
(20.4, 0.9130332440760035, 9023)
(40.8, 0.6236887361503782, 72)
(61.199999999999996, 0.4558057198496025, 10)
(81.6, 0.3922147432795217, 4)
(102.0, 0.10779581413621919, 1)
(122.39999999999999, nan, 0)
(142.79999999999998, 0.257120253164557, 1)
(163.2, nan, 0)
(183.6, nan, 0)
(204.0, 0.12359714701432989, 1)

num_row_spans_gt
(12.7, 0.9134346905783, 8989)
(25.4, 0.6934257145192376, 90)
(38.099999999999994, 0.5547667712179594, 20)
(50.8, 0.4733818931613654, 6)
(63.5, 0.48786132360564244, 4)
(76.19999999999999, 0.29524362641651947, 1)
(88.89999999999999, nan, 0)
(101.6, 0.10779581413621919, 1)
(114.3, nan, 0)
(127.0, 0.257120253164557, 1)

num_col_spans_gt
(20.0, 0.9107419269773498, 9087)
(40.0, 0.5900198465811616, 21)
(60.0, 0.46469177271337775, 3)
(80.0, nan, 0)
(100.0, nan, 0)
(120.0, nan, 0)
(140.0, nan, 0)
(160.0, nan, 0)
(180.0, nan, 0)
(200.0, 0.12359714701432989, 1)

sum_spans_gt
(47.1, 0.9156350603710074, 8894)
(94.2, 0.7145534208988292, 176)
(141.3, 0.5268100187998089, 29)
(188.4, 0.4634346909094198, 10)
(235.5, 0.10779581413621919, 1)
(282.6, 0.257120253164557, 1)
(329.7, nan, 0)
(376.8, nan, 0)
(423.90000000000003, nan, 0)
(471.0, 0.12359714701432989, 1)

sum_row_spans_gt
(25.4, 0.915003294052151, 8918)
(50.8, 0.7238575635969733, 131)
(76.19999999999999, 0.6446017797943956, 37)
(101.6, 0.4839010212289204, 13)
(127.0, 0.39828083313283436, 5)
(152.39999999999998, 0.4485802037455782, 5)
(177.79999999999998, 0.2550621181894951, 1)
(203.2, 0.10779581413621919, 1)
(228.6, nan, 0)
(254.0, 0.257120253164557, 1)

sum_col_spans_gt
(46.0, 0.9126276860187319, 8991)
(92.0, 0.7185318456925018, 105)
(138.0, 0.6064176199107646, 12)
(184.0, 0.5126674361543003, 3)
(230.0, nan, 0)
(276.0, nan, 0)
(322.0, nan, 0)
(368.0, nan, 0)
(414.0, nan, 0)
(460.0, 0.12359714701432989, 1)

has_span_gt
(0.5, 0.9426347040120482, 4650)
(1.0, 0.8755196338033423, 4462)

has_row_span_gt
(0.5, 0.9273710525060468, 6927)
(1.0, 0.8539682832847372, 2185)

has_col_span_gt
(0.5, 0.9275808183370873, 5286)
(1.0, 0.8851614673174839, 3826)

num_cells_gt
(70.2, 0.9372743407804225, 5472)
(138.4, 0.9159037284439981, 2262)
(206.60000000000002, 0.8553867794783481, 827)
(274.8, 0.7649220719140828, 320)
(343.0, 0.647571312386809, 130)
(411.20000000000005, 0.5754734518147125, 59)
(479.40000000000003, 0.5011966730500321, 22)
(547.6, 0.38117877753691887, 13)
(615.8000000000001, 0.39003215434083593, 1)
(684.0, 0.4319560363110773, 6)

num_cells_span_gt
(66.9, 0.9337221343304917, 5535)
(131.8, 0.9179143084042919, 2246)
(196.70000000000002, 0.8601150458668433, 817)
(261.6, 0.7697843988552548, 293)
(326.5, 0.6501689405005309, 117)
(391.40000000000003, 0.574232412992691, 60)
(456.30000000000007, 0.5388695240658289, 25)
(521.2, 0.3443272412181087, 10)
(586.1, 0.4270046122578246, 5)
(651.0, 0.5494659400464655, 4)

num_cols_gt
(3.7, 0.9256374023790133, 2029)
(6.4, 0.9227760287976774, 4502)
(9.100000000000001, 0.8899225643202516, 1937)
(11.8, 0.8524469121993089, 386)
(14.5, 0.8200754710519684, 201)
(17.200000000000003, 0.7145629030890531, 43)
(19.900000000000002, 0.6036959554434659, 5)
(22.6, 0.7047379483649475, 5)
(25.3, 0.8000461843787251, 2)
(28.0, 0.4179285065199089, 2)

num_rows_gt
(9.4, 0.9439954159735232, 3705)
(16.8, 0.9233931205727679, 2582)
(24.200000000000003, 0.8923209633991634, 1453)
(31.6, 0.8516117850606545, 721)
(39.0, 0.7987153024783997, 393)
(46.400000000000006, 0.7390217062930396, 192)
(53.800000000000004, 0.6846970185670533, 47)
(61.2, 0.512973712439864, 15)
(68.60000000000001, 0.46033926136648473, 3)
(76.0, 0.5178045124067852, 1)

cell_width_gt
(60.15909090909091, 0.8877868389989069, 2845)
(109.36363636363636, 0.917885396710739, 3791)
(158.56818181818184, 0.9215589148632289, 1410)
(207.77272727272728, 0.9242986111634617, 672)
(256.9772727272727, 0.9300668589191845, 360)
(306.1818181818182, 0.9521931256341983, 16)
(355.3863636363636, 0.9173165696072288, 12)
(404.59090909090907, nan, 0)
(453.7954545454545, nan, 0)
(503.0, 0.46153151481605126, 6)

cell_height_gt
(30.104545454545455, 0.9032877707796251, 7421)
(59.31515151515151, 0.9381989472977831, 1221)
(88.52575757575757, 0.9447496024684846, 301)
(117.73636363636363, 0.9326581503881065, 104)
(146.94696969696972, 0.8802202526278597, 33)
(176.15757575757576, 0.9730785533910534, 16)
(205.36818181818182, 0.9951846599139681, 11)
(234.5787878787879, 0.9614583333333333, 2)
(263.7893939393939, 0.9823717948717949, 2)
(293.0, 0.1632233905292323, 1)

len_str_gt
(1179.3, 0.9468558948743296, 4610)
(2223.6, 0.923338063144999, 2710)
(3267.8999999999996, 0.8783853160087076, 1101)
(4312.2, 0.7377191420675817, 441)
(5356.5, 0.5868712615600113, 153)
(6400.799999999999, 0.4429095412786314, 60)
(7445.099999999999, 0.4038285635755696, 25)
(8489.4, 0.3039033203385114, 10)
(9533.699999999999, 0.33973754867488715, 1)
(10578.0, 0.291418278691006, 1)

In [13]:
for key in key_dict:
    num_bins = key_dict[key]
    labels = pd.cut(df[key], num_bins, retbins=True)[1]
    df[key + '_class'] = pd.cut(df[key], num_bins, labels=labels[1:])
    gb = df.groupby(key + '_class')['teds_struct']
    gbm = gb.mean()
    gbc = gb.count()
    print("")
    print(key)
    for v in list(zip(gbm.index.values, gbm, gbc)):
        print(v)

num_tokens_gt
(573.4, 0.9571847719747154, 4559)
(1082.8, 0.9376495605770054, 2697)
(1592.1999999999998, 0.9082775928852155, 1102)
(2101.6, 0.8221651373213332, 436)
(2611.0, 0.6632297497508852, 183)
(3120.3999999999996, 0.5653602996262391, 77)
(3629.7999999999997, 0.47003141307333557, 29)
(4139.2, 0.3888060423847612, 17)
(4648.599999999999, 0.4584013595859225, 10)
(5158.0, 0.3263309803404143, 2)

num_tag_tokens_gt
(152.2, 0.9488332227156228, 5213)
(294.4, 0.9341767920336396, 2421)
(436.59999999999997, 0.898532055446964, 898)
(578.8, 0.8003432327051682, 337)
(721.0, 0.7120767610919557, 136)
(863.1999999999999, 0.6122586200942582, 62)
(1005.3999999999999, 0.5563020728281617, 27)
(1147.6, 0.39030947515317005, 11)
(1289.8, 0.5348401810884654, 4)
(1432.0, 0.5502568192041876, 3)

num_content_tokens_gt
(278.4, 0.9547882607380892, 5670)
(540.8, 0.9347270245908246, 2270)
(803.1999999999999, 0.8526740484720037, 800)
(1065.6, 0.6668674035067036, 248)
(1328.0, 0.5147184685670512, 76)
(1590.3999999999999, 0.43836712413518225, 28)
(1852.7999999999997, 0.41742586928608355, 12)
(2115.2, 0.3668519901490855, 6)
(2377.6, nan, 0)
(2640.0, 0.40398977987421386, 2)

num_spans_gt
(20.4, 0.9293676434669046, 9023)
(40.8, 0.6803139589221532, 72)
(61.199999999999996, 0.4818872996892892, 10)
(81.6, 0.49245745676359476, 4)
(102.0, 0.2786885245901639, 1)
(122.39999999999999, nan, 0)
(142.79999999999998, 0.26582278481012656, 1)
(163.2, nan, 0)
(183.6, nan, 0)
(204.0, 0.41315789473684206, 1)

num_row_spans_gt
(12.7, 0.9298051327023562, 8989)
(25.4, 0.7281324805420312, 90)
(38.099999999999994, 0.6321540931851343, 20)
(50.8, 0.5012377923988792, 6)
(63.5, 0.5419857586503872, 4)
(76.19999999999999, 0.5, 1)
(88.89999999999999, nan, 0)
(101.6, 0.2786885245901639, 1)
(114.3, nan, 0)
(127.0, 0.26582278481012656, 1)

num_col_spans_gt
(20.0, 0.9273339306313874, 9087)
(40.0, 0.6595435399424525, 21)
(60.0, 0.4887413971383437, 3)
(80.0, nan, 0)
(100.0, nan, 0)
(120.0, nan, 0)
(140.0, nan, 0)
(160.0, nan, 0)
(180.0, nan, 0)
(200.0, 0.41315789473684206, 1)

sum_spans_gt
(47.1, 0.9315890605751186, 8894)
(94.2, 0.7537900267174283, 176)
(141.3, 0.5984659306861677, 29)
(188.4, 0.587989342095261, 10)
(235.5, 0.2786885245901639, 1)
(282.6, 0.26582278481012656, 1)
(329.7, nan, 0)
(376.8, nan, 0)
(423.90000000000003, nan, 0)
(471.0, 0.41315789473684206, 1)

sum_row_spans_gt
(25.4, 0.9311784720701366, 8918)
(50.8, 0.7566269187396932, 131)
(76.19999999999999, 0.6896649449664599, 37)
(101.6, 0.5645789504751758, 13)
(127.0, 0.48577741420117243, 5)
(152.39999999999998, 0.5884457645826741, 5)
(177.79999999999998, 0.2727272727272727, 1)
(203.2, 0.2786885245901639, 1)
(228.6, nan, 0)
(254.0, 0.26582278481012656, 1)

sum_col_spans_gt
(46.0, 0.9288539783623437, 8991)
(92.0, 0.7686594643090543, 105)
(138.0, 0.6660003374637796, 12)
(184.0, 0.6575663065913763, 3)
(230.0, nan, 0)
(276.0, nan, 0)
(322.0, nan, 0)
(368.0, nan, 0)
(414.0, nan, 0)
(460.0, 0.41315789473684206, 1)

has_span_gt
(0.5, 0.9573811441510244, 4650)
(1.0, 0.8943502697826303, 4462)

has_row_span_gt
(0.5, 0.9429197213505769, 6927)
(1.0, 0.8745118143143769, 2185)

has_col_span_gt
(0.5, 0.9433709609982338, 5286)
(1.0, 0.9032290444944316, 3826)

num_cells_gt
(70.2, 0.9513494283752851, 5472)
(138.4, 0.9319883727834801, 2262)
(206.60000000000002, 0.8785356972233432, 827)
(274.8, 0.7943985905635687, 320)
(343.0, 0.6932396991990086, 130)
(411.20000000000005, 0.6154552984811545, 59)
(479.40000000000003, 0.5504223347738834, 22)
(547.6, 0.41727728423184873, 13)
(615.8000000000001, 0.39710610932475887, 1)
(684.0, 0.5584760844829013, 6)

num_cells_span_gt
(66.9, 0.9478808933343003, 5535)
(131.8, 0.9340915306419167, 2246)
(196.70000000000002, 0.8855189617797936, 817)
(261.6, 0.7979151141428579, 293)
(326.5, 0.692754151436639, 117)
(391.40000000000003, 0.6109763018138278, 60)
(456.30000000000007, 0.5619781756145514, 25)
(521.2, 0.4071875188469212, 10)
(586.1, 0.4664675566776684, 5)
(651.0, 0.6250750595442065, 4)

num_cols_gt
(3.7, 0.9402356621578349, 2029)
(6.4, 0.9372986807043938, 4502)
(9.100000000000001, 0.91025439589164, 1937)
(11.8, 0.8760522781930218, 386)
(14.5, 0.8507660111893881, 201)
(17.200000000000003, 0.7499229734694747, 43)
(19.900000000000002, 0.6901112310749017, 5)
(22.6, 0.8100809606976835, 5)
(25.3, 0.8115780279503105, 2)
(28.0, 0.6313438376505527, 2)

num_rows_gt
(9.4, 0.9579470147693168, 3705)
(16.8, 0.9394289150660301, 2582)
(24.200000000000003, 0.9105381215931445, 1453)
(31.6, 0.8729207789064529, 721)
(39.0, 0.8235089453021103, 393)
(46.400000000000006, 0.7625668592786119, 192)
(53.800000000000004, 0.730992812243095, 47)
(61.2, 0.5815179358294579, 15)
(68.60000000000001, 0.517153027003134, 3)
(76.0, 0.5435606060606061, 1)

cell_width_gt
(60.15909090909091, 0.9076169303627384, 2845)
(109.36363636363636, 0.9337053209826383, 3791)
(158.56818181818184, 0.935769475847248, 1410)
(207.77272727272728, 0.940366893921993, 672)
(256.9772727272727, 0.9435890170695946, 360)
(306.1818181818182, 0.9664709483023437, 16)
(355.3863636363636, 0.9284297909524769, 12)
(404.59090909090907, nan, 0)
(453.7954545454545, nan, 0)
(503.0, 0.4846554792779049, 6)

cell_height_gt
(30.104545454545455, 0.9204893427658489, 7421)
(59.31515151515151, 0.9529663582273602, 1221)
(88.52575757575757, 0.9589141334054745, 301)
(117.73636363636363, 0.9489445800534348, 104)
(146.94696969696972, 0.9006545324727143, 33)
(176.15757575757576, 0.9791666666666666, 16)
(205.36818181818182, 1.0, 11)
(234.5787878787879, 0.9666666666666667, 2)
(263.7893939393939, 1.0, 2)
(293.0, 0.24489795918367352, 1)

len_str_gt
(1179.3, 0.9588428078146892, 4610)
(2223.6, 0.9389912664429308, 2710)
(3267.8999999999996, 0.9016093239290761, 1101)
(4312.2, 0.7774868282368359, 441)
(5356.5, 0.6287364854419123, 153)
(6400.799999999999, 0.4955573711844448, 60)
(7445.099999999999, 0.44842360978575513, 25)
(8489.4, 0.4077825380169159, 10)
(9533.699999999999, 0.3851851851851852, 1)
(10578.0, 0.33426573426573425, 1)

In [14]:
keys = ['max_spans_gt','max_row_spans_gt','max_col_spans_gt',]
for k in keys:
    gb = df.groupby(k)['teds_all']
    gbm = gb.mean()
    gbc = gb.count()
    print(k)
    for v in list(zip(gbm.index.values, gbm, gbc)):
        print(v)

max_spans_gt
(0, 0.9426347040120482, 4650)
(2, 0.8974139891732827, 1489)
(3, 0.8907138811266726, 1029)
(4, 0.8704443385904445, 704)
(5, 0.8840186642554205, 418)
(6, 0.8411315866237623, 334)
(7, 0.8341000034291245, 199)
(8, 0.7934361826983839, 130)
(9, 0.7804842888927935, 91)
(10, 0.7406963498668229, 68)
max_row_spans_gt
(0, 0.9273710525060468, 6927)
(2, 0.8852056727976281, 1370)
(3, 0.8369431793643449, 433)
(4, 0.7828071895419646, 140)
(5, 0.8115344086807222, 86)
(6, 0.7271556244879961, 67)
(7, 0.674923602335092, 27)
(8, 0.7282429096706965, 30)
(9, 0.7503053486904719, 17)
(10, 0.6575148383746453, 15)
max_col_spans_gt
(0, 0.9275808183370873, 5286)
(2, 0.8953079034203503, 1378)
(3, 0.9037143890848199, 818)
(4, 0.8851437866130959, 600)
(5, 0.8955063757855445, 351)
(6, 0.8665899196421013, 273)
(7, 0.8502354025642015, 178)
(8, 0.8129941646066903, 100)
(9, 0.7874172886690025, 74)
(10, 0.7547566178257019, 54)

In [15]:
keys = ['max_spans_gt','max_row_spans_gt','max_col_spans_gt',]
for k in keys:
    gb = df.groupby(k)['teds_struct']
    gbm = gb.mean()
    gbc = gb.count()
    print(k)
    for v in list(zip(gbm.index.values, gbm, gbc)):
        print(v)

max_spans_gt
(0, 0.9573811441510244, 4650)
(2, 0.9127543771881699, 1489)
(3, 0.9073240266471583, 1029)
(4, 0.8889640371319861, 704)
(5, 0.9022275366686404, 418)
(6, 0.8636621280127728, 334)
(7, 0.8610719321922408, 199)
(8, 0.8278297450680835, 130)
(9, 0.8145748809499519, 91)
(10, 0.7844231464817262, 68)
max_row_spans_gt
(0, 0.9429197213505769, 6927)
(2, 0.9027537645754846, 1370)
(3, 0.8578532713544139, 433)
(4, 0.8121650568054533, 140)
(5, 0.8369170587852565, 86)
(6, 0.7587994382726944, 67)
(7, 0.7268089269861969, 27)
(8, 0.7582448123953022, 30)
(9, 0.779415244615401, 17)
(10, 0.6964272253682801, 15)
max_col_spans_gt
(0, 0.9433709609982338, 5286)
(2, 0.910248472152802, 1378)
(3, 0.9199314799590108, 818)
(4, 0.9013840299044629, 600)
(5, 0.9136195354033639, 351)
(6, 0.8869356843477022, 273)
(7, 0.876502917029627, 178)
(8, 0.8487052248699181, 100)
(9, 0.8226520947024839, 74)
(10, 0.8059141774117256, 54)

In [22]:
print("teds struct")
print(df['teds_struct'].mean())

print("teds all")
print(df['teds_all'].mean())

teds struct
0.9265159376725594
teds all
0.9097695324502346

In [16]:
df['len_str_gt'].idxmax()

2957

In [17]:
df['len_str_gt'].max()

10578

In [18]:
print(df.loc[2957]['gt'].count("<td>"))
print(df.loc[2957]['gt'].count("<tr>"))

650
65

In [19]:
import re
def remove_html_tags(text):
    """Remove html tags from a string"""
    import re
    clean = re.compile('<.*?>')
    return re.sub(clean, '', text)


multiple_space_re = re.compile(r'[ ]{2,}')


def convert(text):
    text = " ".join([remove_html_tags(token) for token in text.split("</td>")])
    text = multiple_space_re.sub(' ', text)
    return "<tr><td>{}</td></tr>".format(text.strip())

In [20]:
convert(df.loc[2957]['gt'])

'<tr><td>No. ETHNIC ISO639-3 FAMILY SUB-FAMILY BRANCH POPULATION COUNTRY PROVINCE COUNTY D1 Bolyu ply Austro-Asiatic Mon-Khmer Palyu 10,000 China Guangxi Longlin D2 Yerong yrn Daic Kadai Bu-Rong 400 China Guangxi Napo D3 Qau gio Daic Kadai Ge-Chi 3,000 China Guizhou Bijie D4 Blue-Gelao giq Daic Kadai Ge-Chi 1,700 China Guangxi Longlin D5 Lachi lbt Daic Kadai Ge-Chi 9,016 China Yunnan Maguan D6 Mollao Daic Kadai Ge-Chi 30,000 China Guizhou Majiang D7 Red-Gelao gir Daic Kadai Ge-Chi 1,500 China Guizhou Dafang D8 White-Gelao giw Daic Kadai Ge-Chi 1,200 China Yunnan Malipo D9 Hlai-Qi lic Daic Kadai Hlai 747,000 China Hainan Tongza D10 Jiamao jio Daic Kadai Hlai 52,300 China Hainan Baoting D11 Buyang byu Daic Kadai Yang-Biao 3,000 China Yunnan Guangnan D12 Cun cuq Daic Kadai Yang-Biao 70,000 China Hainan Dongfang D13 Laqua laq Daic Kadai Yang-Biao 307 China Yunnan Malipo D14 Man-Caolan mlc Daic Kam-Tai Be-Tai 114,000 China Guangxi Fangcheng D15 Zhuang-N ccx Daic Kam-Tai Be-Tai 10,000,000 China Guangxi Wuming D16 Zhuang-S ccy Daic Kam-Tai Be-Tai 4,000,000 China Guangxi Chongzuo D17 Lingao onb Daic Kam-Tai Be-Tai 520,000 China Hainan Lingao D18 E eee Daic Kam-Tai Be-Tai 30,000 China Guangxi Rongshui D19 Ai-Cham aih Daic Kam-Tai Kam-Sui 2,300 China Guizhou Libo D20 Dong/Kam doc Daic Kam-Tai Kam-Sui 907,560 China Guangxi Sanjiang D21 Sui swi Daic Kam-Tai Kam-Sui 345,993 China Guangxi Rongshui D22 Mak mkg Daic Kam-Tai Kam-Sui 10,000 China Guizhou Libo D23 Mulam mlm Daic Kam-Tai Kam-Sui 159,328 China Guangxi Luocheng D24 Maonan mmd Daic Kam-Tai Kam-Sui 37,000 China Guangxi Huanjiang D25 Biao byk Daic Kam-Tai Kam-Sui 20,000 China Guangdong Huaiji D26 Then tct Daic Kam-Tai Kam-Sui 20,000 China Guizhou Pingtang D27 Danga Daic Unclassified 1,000,000 China Hainan Lingshui D28 DornQdayc Daic Unclassified 500,000 China Shanghai Minhang D29 CaoMiao cov Daic Kam-Tai Kam-Sui 63,632 China Guangxi Rongshui D30 Laka lbc Daic Kam-Tai Kam-Sui 12,000 China Guangxi Jinxiu T1 Amis ami Austronesian Taiwan Paiwanic 130,000 China Taiwan Hualien T2 Pazeh uun Austronesian Taiwan Paiwanic 300 China Taiwan Cholan T3 Siraiya-Makatao fos Austronesian Taiwan Paiwanic 10,000 China Taiwan Hualien T4 Thao ssf Austronesian Taiwan Paiwanic 248 China Taiwan Nantou T5 Paiwan pwn Austronesian Taiwan Paiwanic 53,000 China Taiwan Taitung T6 Atayal tay Austronesian Taiwan Atayalic 63,000 China Taiwan Yilan T7 Rukai dru Austronesian Taiwan Paiwanic 8,007 China Taiwan Pingtung T8 Pyuma pyu Austronesian Taiwan Paiwanic 8,132 China Taiwan Taitung T9 Tsou tsu Austronesian Taiwan Tsouic 5,797 China Taiwan Kagi T10 Bunun bnn Austronesian Taiwan Paiwanic 34,000 China Taiwan Hualien T11 Saisiyat xsy Austronesian Taiwan Paiwanic 4,194 China Taiwan Yilan I1 Batak bbc Austronesian Malayo-Polynesian Western 5,800,000 Indonesia Sumatera Utara I2 Bangka mly Austronesian Malayo-Polynesian Western 500,000 Indonesia Sumatera Selatan Bangka I3 Malay (Riau) mly Austronesian Malayo-Polynesian Western 2,000,000 Indonesia Riau I4 Minangkabau min Austronesian Malayo-Polynesian Western 4,000,000 Indonesia Sumatera Barat I5 Palembang plm Austronesian Malayo-Polynesian Western 1,100,000 Indonesia Sumatera Selatan I6 Nias nia Austronesian Malayo-Polynesian Western 600,000 Indonesia Sumatera Utara Nias I7 Dayak dyk Austronesian Malayo-Polynesian Western 2,100,000 Indonesia Kalimantan Tengah I8 Banjar bjn Austronesian Malayo-Polynesian Western 3,000,000 Indonesia Kalimantan Selatan I9 Javanese jav Austronesian Malayo-Polynesian Western 75,500,000 Indonesia Jawa Tengah I10 Tengger tes Austronesian Malayo-Polynesian Western 500,000 Indonesia Jawa Timur I11 Balinese ban Austronesian Malayo-Polynesian Western 3,800,000 Indonesia Bali I12 Bugis bug Austronesian Malayo-Polynesian Western 3,500,000 Indonesia Sulawesi Selatan I13 Toraja sda Austronesian Malayo-Polynesian Western 500,000 Indonesia Sulawesi Selatan I14 Makasar mak Austronesian Malayo-Polynesian Western 1,600,000 Indonesia Sulawesi Selatan I15 Minahasa tom Austronesian Malayo-Polynesian Western 200,000 Indonesia Sulawesi Utara I16 Kaili lew Austronesian Malayo-Polynesian Western 471,000 Indonesia Sulawesi Tengah I17 Sasak sas Austronesian Malayo-Polynesian Western 2,100,000 Indonesia Nusa Tenggara Barat Lombok I18 Sumbawa smw Austronesian Malayo-Polynesian Western 400,000 Indonesia Nusa Tenggara Barat Sumbawa I19 Sumba xbr Austronesian Malayo-Polynesian Central 234,574 Indonesia Nusa Tenggara Timur Sumba I20 Alor aol Austronesian Malayo-Polynesian Central 25,000 Indonesia Nusa Tenggara Timur Alor I21 Irian Geelvink Bay 20,806 Indonesia Irian Jaya I22 Cham cjm Austronesian Malayo-Polynesian Western 99,000 Vietnam Binhdinh I23 Tsat huq Austronesian Malayo-Polynesian Western 4,500 China Hainan Sanya</td></tr>'